@media screen and (max-width: 992px) {
    body {
        width: max-width;
    }
    .titleCenter {
        font-family: "Source Sans Pro";
        font-size: 2.3em; 
        overflow: visible;
        padding-top: 3%;
        padding-bottom: 1%;
        width: 85%;
        top: 30%;
        left: 50%;
        transform: translate(0%, -60%);
    }
}

/* On screens that are 768 or less, make the title size to be smaller
    and set width to the max width for adjusting to window size */
@media screen and (max-width: 768px) {
    body {
        font-size: 80%;
        width: max-width;
    }
    header{
        background-color: black;
        padding-bottom: 1%;
        overflow-x: unset;
        overflow:unset;
    }

    .titleCover {
        font-size: 60%; 
    }
}


/* On screens that are 576 or less, adjust the positioning of 
    text on top of the main cover image, so that the page
    does not appear too crowded */
@media screen and (max-width: 576px) {
    body {
        font-size: 80%;
        width: max-width;
    }
    header {
        font-size: 60%;
        background-color: black;
        padding-bottom: 1%;
        overflow-x: unset;
        overflow:unset;
    }
    .titleCover {
        font-size: 60%; 
    }
    .titleCenter {
        overflow: visible;
        position: absolute;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 85%;
        top: 5%;
        left: 50%;
        transform: translate(-10%, -50%);
    }
    .otherpages {
        width: 100%;
        height: 100%;
    }
    .col1of3 {
        margin-left: 1%;
    }
    .col1of3, .col2of3, .col3of3 {
        font-size: 100%; 
        width: auto;
        height: 100%;
        float: none;
        margin: 0%;
        margin-top: 5%;
    }
}

* {
    color: white;
    text-align: center;
}

.background {
    font-family: "Mukta";
    margin: 1%
}

body{
   background-color: black; 
   overflow:unset;
}

/* formatting for links to other pages */
.col1of3 {
    margin-left: 10%;
}

.col1of3, .col2of3, .col3of3 {
    width: 25%;
    float: left;
    margin-top: 5%;
    border: 10px solid black;
}

/* formatting for footer columns */
.col1of2, .col2of2 {
    font-family: "Mukta";
    font-size: 0.9em;
    width: auto;
    float: left;
    margin: 20px;
}

.col2of2 a:hover {
    color: orange;   
}

img.otherpages {
    width: 100%;
    height: auto;
    max-height: 100%;
}

.cover {
    padding: 0%;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }

/* put contact information in-line as default, so it is 
    grouped with the team's social media and music resources */
footer{
    font-size: 0.75em;
    margin: 2%;
    padding: 2%;
    clear: both;
    display: inline-block;
}

footer p {
    font-size: 1.2em;
}

h1{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 3.75em; 
    text-align: center;
    overflow: unset;
}


h2 .sectiontitles{
    font-size: 3em;
}


h4{
    font-size: 2em;
    text-align: left;
    border-bottom: 1px solid #665544;
}

/* since the cover image has a black background, make the header
    have black background to appear to fade into and behind the dancers */
header{
    background-color: black;
    overflow-x: unset;
    overflow:unset;
}

header h1{
    color: white;
    font-family: "Mukta";
}

/* group the links to other pages together, and maintain same ordering 
    as navigation bar (but more descriptive captions) */
li {
    font-family: "open sans", sans-serif;
    display: inline;
    padding: 2%;
    text-decoration:none;
}

/* include traditional phulkari print in background of navigation bar 
    to highlight Punjabi culture and the roots of this dance form */
.navbar {
    font-family: "Mukta";
    background-image: url("../images/phulkari_opaque3.png");
    align-self: flex-start;
    position: sticky;
    top: 0%;
    overflow: hidden;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* make the text white for better readability on top of background 
    image and black background color */
.navbar a {
    color:white;
    font-size: 115%;
    text-decoration: none;
    font-family: "Mukta";
}

/* change color when hovering, so it is clear to user 
    to which page they are navigating */
.navbar a:hover {
    color: orange;   
}

.picCaption {
    color: white;
    text-align: center;
}

.picCaption a:hover {
    color: orange;   
}

p.bkgd {
    font-size: 1.5em;
}

/* evenly align all circular social media icons for easy  
    access and readability */
.socials {
    max-width: 80px;
    max-height: 80px;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* center the Bhangra team official name on top of cover image 
    for emphasis and the appearance of dancers "pointing up"
    at the text */
.titleCenter {
    font-family: "Source Sans Pro";
    font-size: 2.8em; 
    overflow: visible;
    position: absolute;
    padding-top: 20%;
    padding-bottom: 1%;
    width: 85%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


/* IDs */

#address {
    text-decoration: none;
}

/* make limited border around page to make the background 
    picture stand out and attract the user's eyes to our 
    performance picture - colorful clothing and bright expressions */
#main {
    float:left;
    padding: 0px;
    margin: 0px;
    overflow:unset;
}

#page {
    margin: 1% auto;
    overflow: unset;
}